/feeper.Corretor/build/
/feeper.Corretor/nbproject/private/
/feeper.Web/nbproject/private/
/feeper.Web/build/
/feeper.Web/dist/
/feeper.Data/nbproject/private/
/feeper.Data/build/
/feeper.Data/dist/
/feeper.Corretor/dist/
/JavaApplication11/nbproject/private/