<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--<property name="hibernate.connection.url">jdbc:mysql://mysql42072-feeper2.jelasticlw.com.br/feeper</property>
        <property name="hibernate.connection.username">feeper</property>
        <property name="hibernate.connection.password">kx8f33p3r</property>-->
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/feeper</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"/>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.autoReconnect">true</property>
        <property name="hibernate.connection.autoReconnectForPools">true</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
        <property name="hibernate.current_session_context_class">jta</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <mapping resource="feeper/Data/entity/Conquista.hbm.xml"/>
        <mapping resource="feeper/Data/entity/Mensagem.hbm.xml"/>
        <mapping resource="feeper/Data/entity/MensagemLeitor.hbm.xml"/>
        <mapping resource="feeper/Data/entity/Grade.hbm.xml"/>
        <mapping resource="feeper/Data/entity/PessoaConquista.hbm.xml"/>
        <mapping resource="feeper/Data/entity/Log.hbm.xml"/>
        <mapping resource="feeper/Data/entity/TipoMarcacao.hbm.xml"/>
        <mapping resource="feeper/Data/entity/Turma.hbm.xml"/>
        <mapping resource="feeper/Data/entity/Novidade.hbm.xml"/>
        <mapping resource="feeper/Data/entity/TipoLog.hbm.xml"/>
        <mapping resource="feeper/Data/entity/MensagemCabecalho.hbm.xml"/>
        <mapping resource="feeper/Data/entity/TurmaExercicio.hbm.xml"/>
        <mapping resource="feeper/Data/entity/TipoNovidade.hbm.xml"/>
        <mapping resource="feeper/Data/entity/MensagemComentario.hbm.xml"/>
        <mapping resource="feeper/Data/entity/MensagemCurtir.hbm.xml"/>
        <mapping resource="feeper/Data/entity/TurmaPessoa.hbm.xml"/>
        <mapping resource="feeper/Data/entity/Pessoa.hbm.xml"/>
        <mapping resource="feeper/Data/entity/UploadTemp.hbm.xml"/>
        <mapping resource="feeper/Data/entity/TelaPerfil.hbm.xml"/>
        <mapping resource="feeper/Data/entity/Tela.hbm.xml"/>
        <mapping resource="feeper/Data/entity/Perfil.hbm.xml"/>
        <mapping resource="feeper/Data/entity/FilaNovaSenha.hbm.xml"/>
        <mapping resource="feeper/Data/entity/StatusSolucao.hbm.xml"/>
        <mapping resource="feeper/Data/entity/Exercicio.hbm.xml"/>
        <mapping resource="feeper/Data/entity/ExercicioClasse.hbm.xml"/>
        <mapping resource="feeper/Data/entity/ExercicioClasseMarcacao.hbm.xml"/>
        <mapping resource="feeper/Data/entity/ExercicioCasoTeste.hbm.xml"/>
        <mapping resource="feeper/Data/entity/ExercicioCasoTestePasso.hbm.xml"/>
        <mapping resource="feeper/Data/entity/ExercicioCasoTestePassoParametro.hbm.xml"/>
        <mapping resource="feeper/Data/entity/ExercicioSolucao.hbm.xml"/>
        <mapping resource="feeper/Data/entity/ExercicioSolucaoClasse.hbm.xml"/>
        <mapping resource="feeper/Data/entity/ExercicioSolucaoClasseMarcacao.hbm.xml"/>
        <mapping resource="feeper/Data/entity/ExercicioSolucaoErro.hbm.xml"/>
        <mapping resource="feeper/Data/entity/ExercicioClasseAuxiliar.hbm.xml"/>
        <mapping resource="feeper/Data/entity/ConfiguracaoSistema.hbm.xml"/>
        <mapping resource="feeper/Data/entity/MensagemPersonalizada.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
