.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

pre.prettyprint {
	padding: 8px;
	border: 0px;
	margin-bottom: 0px !important;
	border-radius:0px !important;
}
.prettyprint.linenums {
	
}
ol.linenums {
	margin-bottom: 0px !important;
}
ol.linenums li {
	padding-left: 5px;
	color: #bebec5;
	line-height: 20px;
	text-shadow: 0 1px 0 #fff;
	border-left:1px solid #ccc;
	cursor:pointer;
}
li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
    list-style-type: decimal;
}
ol.linenums li.selected {
	background-color: #D9EDF7;
	border-left: 1px solid #3A87AD;
}
ol.linenums li.error {
	background-color: #f7aaaa;
	border-left: 1px solid #d95959;
}
ol.linenums li.warning {
	background-color: #f2ebad;
	border-left: 1px solid #e6cf4d;
}